*{
  margin: 0;
}

:root {
  --white: #fff;
  --gray-50: #e6e6e6;
  --gray-100: rgba(51, 51, 51, 0.5);
  --gray-200: rgba(37, 37, 37, 0.61);
  --gray-300: #111;
  --black: #000;
}

.app{
  background-color: var(--gray-300);
}